/* Universally needed css*/
header{   
    height: 80px;
    width: 200px; 
    background-color: #4aaaa5;
    padding-top: 45px;
    font-size: 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    text-align: center;
    margin-left: 25%;
    float: left;
}

body{
    background-color: khaki;
}

.menu{
    width: 50%;
    height: 40px;
    float: left;
    
}

.headerDivBrdr{
    margin-top: 20px;
    border-bottom: 5px solid #cccccc;
    clear: both;
}

.contactDiv{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 70px;
    height: 30px;
    float: left;
    position: relative;
    top: 40px;
    left: 555px;

}

.portfolioDiv{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 70px;
    height: 30px;
    float: left;
    position: relative;
    top: 40px;
    left: 540px;
}

.aboutDiv{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 70px;
    height: 30px;
    float: left;
    position: relative;
    top: 40px;
    left: 540px;
}

.headOne{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding-top: 20px;
    margin-left: 30px;
}

.container{
    margin-top: 40px;
    margin-bottom: 50px;
    width: 960px;
    height: 880px;
    background-color: #ffffff;
    margin-left: 25%;
}

.bordr{
    border-bottom: 2px solid #cccccc;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.footr{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    border-top: 5px solid #4aaaa5;
    height: 30px;
    text-align: center;
    color: whitesmoke;
}

/* css for about page only*/

#indexContainer{
    height: 750px
}

#infoDiv{
    width: 100%;
    height: 60%;
    
}

#coolDudeDiv{
    margin-left: 30px;
    margin-bottom: 30px;
    width: 225px;
    height: 300px;
    float: left;
}

#coolDude{
    width: 100%;
    height: 100%;
    /*float: left;*/
}

#aboutPara1{
    color: #777777;
    width: 67%;
    margin-left: 30px;
    margin-right: 30px;
    float: left;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 25px;
}

#aboutPara2{
    color: #777777;
    clear: both;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

/*css for portfolio page only*/

#row1{
    margin-bottom: 40px;
    margin-left: 30px;
    width: 960px;
    height: 202px;
}

#row2{
    margin-bottom: 40px;
    margin-left: 30px;
    width: 960px;
    height: 202px;
}

#row3{
    margin-bottom: 40px;
    margin-left: 30px;
    width: 960px;
    height: 202px;
}

.image0{
    width: 200px;
    height: 200px;
    z-index: -1;
    /*margin-left: 20px;*/
    margin-right: 40px;
    border: 2px solid black;
    float: left;
}

.imgBox0{
    width: 100%;
    height: 15%;
    background-color: #4aaaa5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 100px;
    opacity: .8;
}

.p200{
    height: 100%;
    width: 100%;
}

/*css for contact page only*/

#cntctContainer{
    height: 720px;
}

.form{
    color: #777777;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#formName{
    width: 40%;
}

#formEmail{
    width: 40%;
}

#formMsg{
    width: 40%;
    height: 15%; 
}

#btnDiv{
    position: relative;
    bottom: -23%;
}

#submit{
    height: 50px; 
    width: 150px;
    background-color: #4aaaa5;
    margin-left: 30px;
    text-emphasis: bold;
    color: #777777;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
     
}